.business {
    background-color: #EEE7F7;
}

.art {
    background-color: #F7E7F2;
}

.languages {
    background-color: #EBE5C5;
}

.education {
    background-color: #E7F2F6;
}

.home {
    background-color: #F7EBE5;
}

.lifestyle {
    background-color: #E9F7E7;
}

.other {
    background-color: #E8ECF7;
}