/* стили нужно будет поменять когда добавят константы, глбальные стили, шрифты */

*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: start;
}

.user_card {
  display: flex;
  flex-direction: column;
  width: 324px;
  padding: 20px;
  gap: 22px;
  border-radius: 12px;
  background-color: white;
}

.user_card__info {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.user_card__profile_image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.user_card__profile_image img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.user_card__user_data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user_card__user_data__name {
  font-size: 20px;
  font-weight: 600;
}

.user_card__user_data__other {
  font-size: 12px;
}

.user_card__heart_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user_card__skills_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user_card__skills {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.user_card__text {
  font-weight: 700;
}

.user_card__skill {
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  background-color: antiquewhite;
}

.user_card__list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.user_card__button {
  font-size: 16px;
  text-align: center;
  padding: 14px 99px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
}
