* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  gap: 4px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #69735D;
  border-radius: 12px;
  background: none;
  color: currentColor;
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.icon-button {
  background: none;
  border: none;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 0;
}

.icon-button:focus {
  outline: none;
}

.subtext {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.tip-text {
  color: currentColor;
}

.error-input {
  border-color: #BF3920;
}

.error-text {
  color: #BF3920;
}