.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--accent-background);
}

.title {
  font-size: 24px;
}

.groups_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}